*{
    margin: 0;
    padding: 0;
    border-collapse: collapse;

}

body { 
    background-color: rgb(0, 0, 0);
    color: white;
}


.col1,
.col2,
.col3,
.col4,
.col5 {

    border: 1px solid rgb(0, 0, 0); 
}

table,th,td {
    border-collapse: collapse;
}

table {
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 60%;
}

.titulos_tabla{
    background-color: rgb(29, 185, 84);
    color: white;
    height: 40px;
}

.col1 {
    width: 40px;
}
.col2 {
    width:200px;
}
.col3 {
    width:200px;
}
.col4 {
    width:200px;
}
.col5 {
    width:200px;
}


img {
    float: left;
    margin-right: 15px;
}

.titulos_tabla:hover{

    background-color: rgb(211, 29, 22);
}